<html>
<header>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src='/js/camera.js'></script>
			<script src='/js/modal.js'></script>
			<link type='text/css' rel='stylesheet' href='/css/camera.css'/>
			<link type='text/css' rel='stylesheet' href='/css/modal.css'/>
</header>
<h1>Student form</h1>
<form action='/process_form' id='student_form' method='POST'>
      <table>
            <tr>
                  <td>
                        <label for='code'>Student ID</label>
                        <input type='text' id='student_id' />
                  </td>
            </tr>

            <tr>
                  <td>
                        <label for='name'>Student name</label>
                        <input type='text' id='student_name' />
                  </td>
            </tr>

            <tr>
                  <td>
                      	<button type='button' id="myBtn">Snap Photo</button>
                        <button type='button' id='submit'>Submit</button>
                  </td>
            </tr>
      </table>
</form>

<!-- The Modal -->
<div id="myModal" class="modal">
	<!-- Modal content -->
	<div class="modal-content" id='modal-content'>
		<span class="close">&times;</span>
			
		<div id='video_region'>
			<video hidden id="video" width=640 height=480  autoplay=""></video>
			<canvas id="canvas" width=640 height=480></canvas>
		</div>

		<button type='button' id='snap'>Snap Photo</button>
		<p id="info"></p>
		<div id='snaped-photo-region'>
			
		</div>
</div>
</div>
</html>
